
<div class="row">
    <div class="col-md-12" ng-controller="addPersonCtrl">
		<h1 style="padding-bottom:30px;">Ajout d'une personne</h1>
        <form role="form" ng-submit="sendPost()">
            <div class="form-group">
                <label class="control-label" for="firstName">Prenom</label>
                <input class="form-control" ng-model="myForm.firstName" name="firstName">
            </div>
			<div class="form-group">
                <label class="control-label" for="lastName">Nom</label>
                <input class="form-control" ng-model="myForm.lastName" name="lastName">
            </div>
			<div class="form-group">
                <label class="control-label" for="gender">Genre</label>
                  <select ng-model="myForm.gender" class="form-control" name="gender">
					<option>Homme</option>
					<option>Femme</option>
				  </select>
            </div>
			<div class="form-group">
                <label class="control-label" for="email">E-mail</label>
                <input class="form-control" ng-model="myForm.email" type="email" name="email">
            </div>
			<div class="form-group">
                <label class="control-label" for="birthday">Date de naissance</label>
                <input class="form-control" ng-model="myForm.birthday" type="date" name="birthday">
            </div>
			<div class="form-group">
                <label class="control-label" for="fbProfil">Facebook</label>
                <input class="form-control" ng-model="myForm.fbProfil" name="fbProfil">
            </div>
            <button type="submit" class="btn btn-default">Envoyer</button>
        </form>
    </div>
</div>
